@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

body{
background:#f5f7fb;
color:#222;
}

button{
cursor:pointer;
transition:.3s;
border:none;
outline:none;
}

input,
select,
textarea{
outline:none;
transition:.3s;
font-size:15px;
}

a{
text-decoration:none;
color:inherit;
}